.main-block {
    background-color: lightgrey;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.top-block {
    border: 1px solid green;
    height: 40vh;
    display: flex;
}

.top-block-left {
    border: 1px solid saddlebrown;
    width:30%;
}

.top-block-right {
    border: 1px solid slategray;
    width: 70%;
}


.bottom-block {
    border: 1px solid orange;
    height: 40vh;
}