.main-block {
  background-color: lightgrey;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-block {
  /* border: 1px solid green; */
  /* height: 40vh; */
  display: flex;
}

.top-block-left {
  /* border: 1px solid saddlebrown; */
  width: 30%;
  margin: 10px;
  border-radius: 5px;
  background-color: ghostwhite;
}

.top-block-right {
  /* border: 1px solid slategray; */
  width: 70%;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  background-color: ghostwhite;
}

.bottom-block {
  /* border: 1px solid orange; */
  height: 42.5vh;
  margin: 10px;
  border-radius: 5px;
  background-color: ghostwhite;
  padding-top: 20px;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}
